build/
out/
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.dll

*.obj
*.o
*.a

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
_deps/

.ninja_deps
.ninja_log
build.ninja
rules.ninja

.vs/
.vscode/
.idea/
*.user
*.suo
*.sln.docstates
*.vcxproj.user
*.code-workspace


*.log
*.dmp
*.minidump

*.key
*.pem
secrets.*
config.local.*